@using MVCBlog.Helpers
@{
    ViewBag.Title = "Contacts";
}

<style>
    @Html.EmbedCss("~/Content/themes/base/css/post_item.css")
</style>


<div class="container">
	<div class="row">
		<div class="twelve columns">
				<div class="inner">
					<div class="main section" id="main">
						<div class="widget Blog" id="Blog1">
							<div class="four columns post_col masonry-brick">
								<div class="post_item">
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non mattis ipsum. Nunc eu orci urna. Nam rutrum at odio et aliquet. Quisque scelerisque elit placerat, placerat turpis luctus, lacinia lorem. Morbi rhoncus risus sed sem ornare, eget hendrerit nibh accumsan. Pellentesque porttitor volutpat dui. In hac habitasse platea dictumst.
                                    </p>
                                    <p>
                                    Suspendisse libero sapien, tempor at est ut, fringilla porttitor urna. Cras sed malesuada urna. Nunc tortor tortor, malesuada at arcu non, venenatis blandit neque. Quisque molestie diam nunc, vel egestas quam sagittis non. In mollis porta sem, vitae rhoncus elit blandit id. Pellentesque pellentesque molestie ultricies. Proin pretium lorem sed adipiscing mattis. Nullam auctor, nibh at scelerisque elementum, velit purus dictum diam, vitae convallis erat justo eu nunc. Phasellus id sagittis sem. Integer venenatis nunc dapibus dolor adipiscing mattis. Etiam vitae ipsum non eros ornare gravida. Phasellus tincidunt orci sit amet suscipit porta. Nulla lectus magna, accumsan ut diam quis, condimentum imperdiet lorem. Aliquam eget mattis purus. Phasellus lacus nisi, adipiscing quis magna eget, molestie dictum mi. Suspendisse gravida rhoncus tempus.
                                    </p>
                                    <p>
                                    Sed porta ultricies ornare. Aliquam vehicula semper aliquam. Nulla facilisi. Cras lorem nisi, dictum eget elementum sed, imperdiet sed arcu. Morbi dignissim orci ac mi scelerisque fermentum. Quisque consequat pharetra quam ac convallis. Quisque sollicitudin tellus et nisl gravida, vitae venenatis enim posuere. Fusce iaculis enim eget augue faucibus ornare. Donec dapibus diam diam, ut semper dolor consequat quis.
                                    </p>
								</div>
                             </div>
                         </div>
                     </div>
                 </div>
        </div>
    </div>
</div>
