    
    
    <div id="footer">
		<div class="container">
			<div class="row">
				<div class="twelve columns wrapper">
					Copyright © 2013 
					<a href="http://sight-soratemplates.blogspot.in/" id="copyright">Sight</a>
					<a class="copyrighted"
                         href="http://www.soratemplates.com">. Blogger Theme by 
                        <span style="font-weight: bold; color: #E74C3C !important;">SoraTemplates</span>
					</a> and 
					<a href="http://www.mybloggerthemes.com">Blogger Templates</a> - 
					<a href="http://www.softwanime.com">Anime Soundtrack</a>.
				</div>
			</div>
		</div>
	</div>